@{
    ViewBag.Title = "Ejercicio2";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="form-group">
        <label for="campo">Ejercicio2</label>
        <input type="text" class="form-control" id="campo" placeholder="Ingrese la palabra">
        <button type="submit" class="btn btn-primary" onclick="Calcular() ">Calcular</button>
    </div>
</div>

@Scripts.Render("~/js/ejercicio2.js")
