@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ejercicios</h1>
    <p>@Html.ActionLink("Ejercicio1","Ejercicio1","Home")</p>
    <p>@Html.ActionLink("Ejercicio2", "Ejercicio2", "Home")</p>

</div>

<div class="row">
  
</div>